 <!-- Header Section -->
 <section class="headertop" id="headertop">
    <div class="headercontainertop">
        <!-- Hamburger Menu -->
        <div class="tooltip t">
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <span class="humberger-text">Menu</span>
            </div>

            <!-- Tooltip for Menu -->
            <span class="tooltiptext">
                <h2>Bien le bonjour</h2>
                <p>Déja membre Veepee?</p>
                <button class="whitebutton">S'identifier</button>
                <hr />

                <!-- Menu Items -->
                <div class="tooltip-item">
                    <img src="assets/img/vp/home.svg" />
                    <h1>Accueil</h1>
                </div>
                <hr>
                <div class="tooltip-item">
                    <img src="assets/img/vp/avatar.svg">
                    <h1>Mon compte</h1>
                </div>
                <div class="tooltip-item">
                    <img src="assets/img/vp/cadeau.svg">
                  <a href="payement.html" > <h1>Mes commandes</h1></a>
                </div>
                <div class="tooltip-item">
                    <img src="assets/img/vp/alert.svg">
                     <h1>Mes communications</h1>
                </div>
                <div class="tooltip-item">
                    <img src="assets/img/vp/chat.svg">
                    <h1>Le Club</h1>
                </div>

                <hr>
                <div class="tooltip-item">
                    <img src="assets/img/vp/help.svg">
                    <h1>Aide et contact</h1>
                </div>

                <hr>
                <div class="tooltip-item">
                    <img src="assets/img/vp/mobile.svg">
                    <h1>VPMobile</h1>
                </div>

                <!-- Add more menu items here -->
            </span>
        </div>

        <!-- Veepee Logo -->
        <div class="veeplogo">
            <img src="assets/img/vp/logovente.jpg" alt="logo" class="logo" id="butterfly" />
        </div>

        <!-- Left Section -->
        <div class="left d-flex ">
            <div class="d-flex">
                <a routerLink="/parrainage"><img src="assets/img/vp/parrainage.svg" id="my_image" class="icon" />
                </a><p class="navp">          Parrainage</p>
            </div>
            <div class="cart-container">
                <a routerLink="/Panier"><img class="img" src="assets/img/vp/panier.svg" id="my_image">
                <span class="cart-badge">{{nbrpanier}}</span> </a><!-- This is the label for the cart count -->
            </div>
        </div>
    </div>

    <!-- Navigation Links -->
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="#" class="titleunderline">Accueil </a></li>
                <li><a routerLink="/Mode" class="titels"> Mode</a></li>
                <li><a routerLink="/Mode" class="titels"> Chaussures</a></li>
                <li><a routerLink="/Maison" class="titels">Maison</a></li>
                <li><a routerLink="/Voyage" class="titels">Voyage</a></li>
                <li><a routerLink="/Beaute" class="titels">Beauté </a></li>
                <li><a routerLink="/Sport" class="titels"> Sport</a></li>
                <li><a routerLink="/Enfant" class="titels"> Enfant</a></li>
                <li><a routerLink="/Gastronomie" class="titels"> Gastronomie</a></li>
                <li><a routerLink="/Loisir" class="titels">Loisir</a></li>
                <nav class="menu">
                    <ul>
                       
                        <li class="dropdown">
                            <a ><img src="assets/img/utilisateur (3).png" alt="Logo" class="logosearch" /></a>
                            <ul class="dropdown-content">
                              
                                <li><a routerLink="/Compte">Mon compte</a></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><a href="#">Deconnection</a></li>
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
            </ul>
        </div>
    </nav>
</section>







<!-- JavaScript Scripts -->
<script src="https://jsuites.net/v4/jsuites.js"></script>

