 <!-- Header Section -->
 <section class="headertop" id="headertop">
    <div class="headercontainertop">
        <!-- Hamburger Menu -->
        
        <div class="tooltipp t">
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <span class="humberger-text">Menu</span>
            </div>

            <!-- tooltipp for Menu -->

            <span class="tooltipptext">
                <!-- Menu Items -->
                <div class="tooltipp-item">
                   
                    <a  href="#"><h1>Accueil</h1></a>
                </div>
               
              
                <div class="tooltipp-item">
                    
                   <a routerLink="/Mode"><h1>Mode</h1></a>
                </div>
                <div class="tooltipp-item">
                    
                    <a routerLink="/Chaussure"><h1>Chaussures</h1></a>
                </div>
                <div class="tooltipp-item">
                  
                    <a routerLink="/Maison"><h1>Maison</h1></a>
                </div>

                <!-- <hr> -->

                <div class="tooltipp-item">
                    <a routerLink="/Voyage"><h1>Voyage</h1></a>
                </div>

                <div class="tooltipp-item">
                    <a routerLink="/Beaute"><h1>Beauté</h1></a>
                </div>

                <div class="tooltipp-item">
                    <a routerLink="/Sport"><h1>Sport</h1></a>
                </div>
                <div class="tooltipp-item">
                    <a routerLink="/Enfant"><h1>Enfant</h1></a>
                </div>
                <div class="tooltipp-item">
                    <a routerLink="/Gastronomie"><h1>Gastronomie</h1></a>
                </div>
                <div class="tooltipp-item">
                    <a routerLink="/Loisir"><h1>Loisir</h1></a>
                </div>
                <hr>

                <div *ngIf="affiche" class="tooltipp-item">
                    <a routerLink="/Compte"><h1>Mon compte</h1></a>
                </div>
                <div *ngIf="affiche" class="tooltipp-item">
                    <a (click)="logout()"><h1>Se déconnecter</h1></a>
                </div>

                <!-- Add more menu items here -->


            </span>
        </div>

        <!-- Veepee Logo -->
        <div class="veeplogo">
            <img src="assets/img/vp/logovente.jpg" alt="logo" class="logo" id="butterfly" />
        </div>

        <!-- Left Section -->
        <div class="left d-flex ">
            <div class="d-flex">
                <a routerLink="/parrainage">
                <img src="assets/img/vp/parrainage.svg" id="my_image" class="icon" />
                </a>
                <p class="navp"> Parrainage </p>
            </div>
            <div class="cart-container">
                <a routerLink="/Panier"><img class="img" src="assets/img/vp/panier.svg" id="my_image">
                <span class="cart-badge">{{nbrpanier}}</span> </a><!-- This is the label for the cart count -->
            </div>
        </div>
    </div>

    <!-- Navigation Links -->
    <nav class="navbar">
        <div class="navlinks">
            <ul id="nav">
                <li><a routerLink="/home" routerLinkActive="active"class="titels sty"><span>Accueil</span> </a></li>
                <li><a routerLink="/Mode" routerLinkActive="active"class="titels sty "> <span>Mode</span></a></li>
                <li><a routerLink="/Chaussure" routerLinkActive="active"class="titels sty"> <span>Chaussure</span></a></li>
                <li><a routerLink="/Maison" routerLinkActive="active"class="titels sty"><span>Maison</span></a></li>
                <li><a routerLink="/Voyage" routerLinkActive="active"class="titels sty"><span>Voyage</span></a></li>
                <li><a routerLink="/Beaute" routerLinkActive="active"class="titels sty"><span>Beauté</span> </a></li>
                <li><a routerLink="/Sport" routerLinkActive="active"class="titels sty"> <span>Sport</span></a></li>
                <li><a routerLink="/Enfant" routerLinkActive="active"class="titels sty"> <span>Enfant</span></a></li>
                <li><a routerLink="/Gastronomie" routerLinkActive="active"class="titels sty"> <span>Gastronomie</span></a></li>
                <li><a routerLink="/Loisir" routerLinkActive="active"class="titels sty"><span>Loisir</span></a></li>
                
                
                <nav *ngIf="affiche" class="menu">
                    <ul>
                       
                        <li class="dropdown">
                            <a ><img src="../../../../assets/img/pink-user-icon-vector-42797480-removebg-preview.png" alt="Logo" class="logossearch " /></a>
                            <ul class="dropdown-content">
                              
                                <li><a routerLink="/Compte"> <img src="../../../../assets/img/stock-vector-eps-pink-vector-logout-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-2167805975-removebg-preview (1).png" alt=""  width="40px" > &emsp; Mon compte</a></li>
                             <hr>
                                <li><a routerLink="/" (click)="logout()"> <img src="../../../../assets/img/images-removebg-preview.png" alt="" width="30px" style="margin-right: 10px; margin-left: 10px;">Deconnection</a></li>
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
            </ul>
            
        </div>
    </nav>
</section>







<!-- JavaScript Scripts -->
<script src="https://jsuites.net/v4/jsuites.js"></script>
<script src="./navbar.js"></script>

