<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title text-center">
            <h3 *ngIf="nbrpanier!=0">Panier</h3>
            <h3 *ngIf="nbrpanier==0">Votre panier est vide</h3>
        </div>
    </div>
</div>
<section class="cart-wraps-area ptb-100" *ngIf="nbrpanier!=0">
    <div class="container">
        <form>
            <div class="cart-wraps">
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Produit</th>
                                <th scope="col">Prix unitaire</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Ajouter +/-</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of paniers">
                            <tr>
                                <td class="product-thumbnail">
                                    <a><img
                                            src="assets/img/products/product1.jpg"
                                            alt="Image"></a>
                                </td>
                                <td class="product-name">
                                    <a>{{p.Produit}}</a>
                                </td>
                                <td class="product-price">
                                    <span class="unit-amount">{{p.PrixUnitaire}}&nbsp;TND</span>
                                </td>
                                <td class="product-quantity"> {{p.Quantite}}</td>
                                <td class="product-quantity">
                                    <div class="form-group">
                                        <div class="select-box">
                                            <select class="form-control"
                                                (change)="GetQte($event,p)"
                                                required>
                                                <option value="1"></option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <span class="subtotal-amount">{{p.PrixTotale}}&nbsp;TND</span>
                                    <a class="remove" (click)="DletePanier(p)"><i
                                            class='bx bx-trash'></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <div class="cart-totals">
                        <ul>
                            <li>Total <span>{{commande.PrixTotal}} TND</span></li>
                            <li>Livraison <span>{{commande.PrixLivraison}} TND</span></li>
                            <li>Coupon <span>- {{commande.Couppons}} TND</span></li>
                            <li>Total <span><b>{{commande.NetaPayer}} TND</b></span></li>
                        </ul>
                        <a
                            class="default-btn default-hot-toddy" type="button" (click)="PasserCommande()">Passer la commande</a>
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </form>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
