<app-navbar-style-one></app-navbar-style-one>
<div class="enf">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content banner-content-ptb text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="category-area pt-100 pb-70 top">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="center-container">
                <div class="show">
                    <div class="row" [hidden]="brandmo==0">
                        <h4 class="mt-3">LA MODE <br>Pour jouer dans la cour des petits.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LA MODE'">
                            <img src="https://media.veepee.com/v1/media/03b2b4e8-edfe-4484-b07a-f129f2739c65" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandjo==0">
                        <h4 class="mt-3">LE JOUET <br>Attention où vous mettez les pieds.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE JOUET'">
                            <img src="https://media.veepee.com/v1/media/03b2b4e8-edfe-4484-b07a-f129f2739c65" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandbe==0">
                        <h4 class="mt-3">LE BEBE <br>Seulement du matériel premier cri.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE BEBE'">
                            <img src="https://media.veepee.com/v1/media/03b2b4e8-edfe-4484-b07a-f129f2739c65" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandmob==0">
                        <h4 class="mt-3">LE MOBILIER <br>Les négociations sur la couleur sont ouvertes.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE MOBILIER'">
                            <img src="https://media.veepee.com/v1/media/03b2b4e8-edfe-4484-b07a-f129f2739c65" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandsej==0">
                        <h4 class="mt-3">LES SÉJOURS EN FAMILLE <br>Ensemble pour le meilleur et pour le rire.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LES SÉJOURS EN FAMILLE'">
                            <img src="https://media.veepee.com/v1/media/03b2b4e8-edfe-4484-b07a-f129f2739c65" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>


