 <!-- Header Section -->
 
 <section class="headertop" id="headertop">
    <div class="headercontainertop">
        <!-- Hamburger Menu -->

        <div class="tooltipp t">
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <span class="humberger-text">Menu</span>
            </div>

            <!-- tooltipp for Menu -->

            <span class="tooltipptext">
               


                



                <!-- Menu Items -->
                <div class="tooltipp-item">
                   
                    <a  href="#"><h1>Accueil</h1></a>
                </div>
               
              
                <div class="tooltipp-item">
                    
                   <a routerLink="/Mode"><h1>Mode</h1></a>
                </div>
                <div class="tooltipp-item">
                    
                    <a routerLink="/Chaussure"><h1>Chaussures</h1></a>
                </div>
                <div class="tooltipp-item">
                  
                    <a routerLink="/Maison"><h1>Maison</h1></a>
                </div>

                <!-- <hr> -->

                <div class="tooltipp-item">
                    <a routerLink="/Voyage"><h1>Voyage</h1></a>
                </div>

                <div class="tooltipp-item">
                    <a routerLink="/Beaute"><h1>Beauté</h1></a>
                </div>

                <div class="tooltipp-item">
                    <a routerLink="/Sport"><h1>Sport</h1></a>
                </div>
                <div class="tooltipp-item">
                    <a routerLink="/Enfant"><h1>Enfant</h1></a>
                </div>
                <div class="tooltipp-item">
                    <a routerLink="/Gastronomie"><h1>Gastronomie</h1></a>
                </div>
                <div class="tooltipp-item">
                    <a routerLink="/Loisir"><h1>Loisir</h1></a>
                </div>
                <hr>

                <div class="tooltipp-item">
                    <a routerLink="/Compte"><h1>Mon compte</h1></a>
                </div>
                <div class="tooltipp-item">
                    <a (click)="logout()"><h1>Se déconnecter</h1></a>
                </div>

                <!-- Add more menu items here -->


            </span>
        </div>

        <!-- Veepee Logo -->
        <div class="veeplogo ">
            <img src="assets/img/vp/logovente.jpg" alt="logo" class="logo ddd" id="butterfly" />
        </div>


        <!-- Left Section -->
        <div class="left" *ngIf="affichage">
            <!-- <div>
                <img src="assets/img/vp/question.png" class="icon" />
            <div>
                <img src="assets/img/vp/question.png" class="icon ddd" />
                <p class="navp">Qui sommes-nous?</p>
            </div> -->
            <div >
                
            <button class="button" routerLink="/login">S'identifier</button>

        </div>
        
        </div>
       
            <div class="left d-flex " *ngIf="!affichage">
                <div class="d-flex">
                    <a routerLink="/parrainage"><img src="assets/img/vp/parrainage.svg" id="my_image" class="icon ddd" />
                    </a>
                    <p class="navp">Parrainage</p>
                </div>
                <div class="cart-container">
                    <a routerLink="/Panier"><img class="img ddd" src="assets/img/vp/panier.svg" id="my_image">
                    <span class="cart-badge">{{nbrpanier}}</span> </a><!-- This is the label for the cart count -->
                </div>
            </div>  
        
    </div>

    <!-- Navigation Links -->
    <nav class="navbar">
        <div class="navlinks">
            <ul id="nav">
                <li><a href="#" class="titels sty">Accueil </a></li>
                <li><a routerLink="/Mode" class="titels sty "> Mode</a></li>
                <li><a routerLink="/Chaussure" class="titels sty"> Chaussures</a></li>
                <li><a routerLink="/Maison" class="titels sty">Maison</a></li>
                <li><a routerLink="/Voyage" class="titels sty">Voyage</a></li>
                <li><a routerLink="/Beaute" class="titels sty">Beauté </a></li>
                <li><a routerLink="/Sport" class="titels sty"> Sport</a></li>
                <li><a routerLink="/Enfant" class="titels sty"> Enfant</a></li>
                <li><a routerLink="/Gastronomie" class="titels sty"> Gastronomie</a></li>
                <li><a routerLink="/Loisir" class="titels sty">Loisir</a></li>
                
                
                <nav class="menu">
                    <ul>
                       
                        <li class="dropdown">
                            <a ><img src="../../../../assets/img/pink-user-icon-vector-42797480-removebg-preview.png" alt="Logo" class="logossearch " /></a>
                            <ul class="dropdown-content">
                              
                                <li><a routerLink="/Compte"> <img src="../../../../assets/img/stock-vector-eps-pink-vector-logout-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-2167805975-removebg-preview (1).png" alt=""  width="40px" > &emsp; Mon compte</a></li>
                             <hr>
                                <li><a (click)="logout()"> <img src="../../../../assets/img/images-removebg-preview.png" alt="" width="30px" style="margin-right: 10px; margin-left: 10px;">Deconnection</a></li>
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
            </ul>
            
        </div>
    </nav>
</section>


<!-- Header -->
<header style="background-image: url('../../../../assets/img/home-three/loisirbg.jpg');">    <!-- Search Bar -->
    <div class="search">
        <div class="search-container">
            <input type="text" class="search-bar" [(ngModel)]="term" (input)="filtrerDonnees()" placeholder="Rechercher une marque, un produit..." />
            <button class="search-button">
                <img src="assets/img/vp/search.png" alt="Logo" class="logosearch" />
            </button>
        </div>
    </div>
</header>
<div>
<section class="titlecontainer">
    <div class="title">
      <h1 class="containertitle">ça va vous plaire</h1>
      <p class="containerparagraphe">Coup de foudre inévitale</p>
    </div>
</section>

<!-- Container for Body Content -->

<div class="bodycontainer">
    
    <!-- Main Content -->
    <main class="page-content">
        <div *ngFor="let brand of filteredBrand">
            <div *ngIf="brand.Categorie == 'Loisir'" class="card"> 
                           <div class="content">
                <img
                [src]="'http://localhost:3000/image/' + brand.Image" />
                <a [routerLink]="'/shopBrand/'+brand.id"><h3 class="copy">Jusqu'au {{ brand.DateExpiration | date:'EEEE d MMMM y' }}</h3></a>
            </div>
        </div>
        
     </div>
    
   
     
     

        
    </main>
    <section class="titlecontainerr">
        <div class="titlee">
          <h1 class="containertitlee">ENCORE QUELQUES JOURS</h1>
          <p class="containerparagraphee">De quoi sauter sur l'occasion</p>
        </div>
    </section>
    
    <!-- Container for Body Content -->
    
    <div class="bodycontainer">
        
        <!-- Main Content -->
        <main class="page-content">
            <div *ngFor="let brand of filteredBrand">
            <div class="card">
                <div class="content">
                    <img
                    [src]="'http://localhost:3000/image/' + brand.Image" />
                    <a [routerLink]="'/shopBrand/'+brand.id"><h3 class="copy">Jusqu'au {{ brand.DateExpiration | date:'EEEE d MMMM y' }}</h3></a>
                </div>
            </div>
            
         </div>
        
       
         
         
    
            
        </main>
</div>

</div>






<!-- JavaScript Scripts -->
<script src="https://jsuites.net/v4/jsuites.js"></script>
<script src="./script.js"></script>


<!---------footer-------->

<app-footer-style-two></app-footer-style-two>