.header {
  display: flex;
  justify-content: center;
  top: 0;
  height: 110vh;
  width: 100%;
  background-size: cover;
  //background-image: url('../../../../assets/img/vp/home.png');
  background-image: url('../../../../assets/img/home-three/loisirbg.jpg') !important;
}