h2{
    color: rgb(246, 52, 143);
    font-weight: 900;
    margin-top: 50px;
}
h1{
    color: azure;
}
button{
    background-color:rgb(246, 52, 143) ;
    width: 200px;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 5px;
    height: 50px;
  
}
button:hover{
    background-color:rgb(247, 109, 174) ;
    width: 200px;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 5px;
    height: 50px;
  
}