<div class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="error-content">
                <h1>4 <span>0</span> 4</h1>
                <h3>Oups! Page introuvable</h3>
                <p>La page que vous recherchez pourrait avoir été supprimée si son nom a changé ou est temporairement indisponible.</p>
                <a routerLink="/" class="default-btn">Retour à la page d’accueil</a>
            </div>
        </div>
    </div>
</div>
