
<header>
    <div class="container">
        <div class="card">
            <div class="cardcontainer">
                <h1>
                    Merci pour votre achat ! 
                </h1>
                <p>Votre commande a été passée avec succès. 
                    <br> Un e-mail de confirmation vous a été envoyé ! </p>
            </div>
        <br>
         <br>
            <div class="butonline">
    
                <button routerLink="/" target="_blank" class="cardbutton">Retourner au site</button>
    
            </div>
        </div>
    </div>
</header>

<!----------container-------->


