
<div  class="modal-content" >
    <div class="modal-body">
        <button type="button" class="close-button" aria-label="Close" (click)="closePopup()">
            <span aria-hidden="true">&times;</span>
        </button><header></header>
      <!-- <img src="assets/img/home-three/veepee_home.jpeg" alt="Background" class="background-image"/> -->
      <p class="main-text">les surprises c'est notre quotidien!</p>
      <p class="sub-text">Et la toute première vous attend après votre inscription chez-nous</p>
      <div class="buttons">
        <button class="btn btn-connect" routerLink="/login" (click)="closePopup()">Se connecter</button>
        <button class="btn btn-signup" routerLink="/register" (click)="closePopup()">S'inscrire</button>
      </div>
    </div>
  </div>
