<app-navbar-style-one></app-navbar-style-one>
<div class="mai">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content banner-content-ptb text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="category-area pt-100 pb-70 top">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="center-container">
                <div class="show">
                    <div class="row" [hidden]="brandm==0">
                        <h4 class="mt-3">MAISON<br>Une offre disponible toute l'année</h4>
                        <div class="col-md-6 container"   routerLink="/Brand/{{m.id}}" routerLink="/Brand/{{m.id}}"type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='MAISON'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandj==0">
                        <h4 class="mt-3">LE JARDIN <br>Ici, mieux vaut avoir deux mains droite.</h4>
                        <div class="col-md-6 container"  routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE JARDIN'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandb==0">
                        <h4 class="mt-3">LE BRICOLAGE <br>
                            Pour ceux qui veulent sortir des clous.</h4>
                        <div class="col-md-6 container"  routerLink="/Brand/{{m.id}}"  type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE BRICOLAGE'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandmo==0">
                        <h4 class="mt-3">LE MOBILIER <br>Les négociations sur la couleur sont ouvertes.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}"  type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE MOBILIER'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandde==0">
                        <h4 class="mt-3">LA DÉCORATION <br>Un bon motif pour tout changer.</h4>
                        <div class="col-md-6 container"  routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LA DÉCORATION'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandlim==0">
                        <h4 class="mt-3">LE LINGE DE MAISON <br>Repartez bras dessus drap dessous.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE LINGE DE MAISON'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandelectro==0">
                        <h4 class="mt-3">L'ÉLECTROMÉNAGER <br>Les objets les plus branchés de la maison.</h4>
                        <div class="col-md-6 container"  routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='ÉLECTROMÉNAGER'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandlit==0">
                        <h4 class="mt-3">LA LITERIE <br>On vous met dans de beaux draps.</h4>
                        <div class="col-md-6 container"  routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LA LITERIE'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandart==0">
                        <h4 class="mt-3">L'ART DE LA TABLE <br>Des oeuvres qu’on peut toucher.</h4>
                        <div class="col-md-6 container"  routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='ART DE LA TABLE'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandhighttech==0">
                        <h4 class="mt-3">L'HIGH TECH <br>Ici, il n’y a que des ondes positives.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button"  *ngFor="let m of brand" [hidden]="m.SousCategorie!='HIGH TECH'">
                            <img src="https://media.veepee.com/v1/media/95d31698-1a3f-4728-b015-b6658df28012" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>
