<div class="navbar">
    <a href="#"><img src="assets/img/home-three/2.png" alt="Logo" class="logo" /></a>
</div>
<div class="login-container">
<form [formGroup]="loginForm">
    <div class="login-form">
        <h1>DÉJÀ MEMBRE VENTE PRIVILIGÉE ?</h1>
        <!-- <hr class="small-hr" />
        <div class="social-buttons">
            <img src="	https://www.veepee.fr/gr/icons/facebook.png" (click)="onFacebookLogin()" alt="Facebook" class="social-button" />
            <span>OU</span>
            <img src="assets/img/home-three/google.svg" alt="Gmail" (click)="onGoogleLogin()" class="social-button" />
        </div> -->
        <hr class="large-hr" />
        <input formControlName="Email" type="email" placeholder="Adresse e-mail" />
        <input type="checkbox" id="show-password" class="show-password GGG">
  
      <label for="show-password" class="Control-label Control-label--showPassword">
  
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32" class="svg-toggle-password" title="Toggle Password Security">
          <title>Hide/Show Password</title>
          <path d="M24,9A23.654,23.654,0,0,0,2,24a23.633,23.633,0,0,0,44,0A23.643,23.643,0,0,0,24,9Zm0,25A10,10,0,1,1,34,24,10,10,0,0,1,24,34Zm0-16a6,6,0,1,0,6,6A6,6,0,0,0,24,18Z" />
          <rect x="20.133" y="2.117" height="44" transform="translate(23.536 -8.587) rotate(45)" class="closed-eye" />
          <rect x="22" y="3.984" width="4" height="44" transform="translate(25.403 -9.36) rotate(45)" style="fill:#fff" class="closed-eye" />
        </svg>
      </label>
  
      <input formControlName="Password" type="text" id="password" placeholder=" Mot de passe" autocomplete="off" autocapitalize="off" autocorrect="off" required pattern=".{6,}" class="ControlInput ControlInput--password">
  
      <label for="password" class="Control-label Control-label--password" style="visibility: hidden;">Password</label>
  
    
        
        <button type="submit" (click)="Login()">Se connecter</button>
        <div class="d-flex justify-content-between">
            <a routerLink="/" class="sous-lien">Home</a>
            <a routerLink="/register" class="sous-lien2">Vous n'avez pas un compte? S'inscrire</a>
        </div>
       
    </div>
</form>

</div>