.brand-bg {
    background-image: url(../../../../assets/img/home-three/brand.jpg);
 
 
}

.prod{
    border-radius: 15px !important;
}
.f-pellet-color {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #00000052;
  }