<app-navbar></app-navbar>
<br><br><br><br><br><br>
<!--add *ngIf="produit" "TODO"-->
   <main >
    <section>
        <div class="flex-box" >
            <div class="left">
                <div  class="big-img">
                    <img [src]="'https://api.venteprivilegiee.com/image/'+ produit.Image">
                </div>
                <div class="images">
                    <!-- <div class="small-img">
                        <img src="https://media.veepee.com/v1/media/65be0b06-5039-46d0-83a6-d9fb43470f9f" onclick="showImg(this.src)">
                    </div>
                    <div class="small-img">
                        <img src="https://media.veepee.com/v1/media/268f50d6-8889-48bf-b978-28d864610e6c" onclick="showImg(this.src)">
                    </div>
                    <div class="small-img">
                        <img src="https://media.veepee.com/v1/media/7769e0a0-bf20-4c2b-97ef-edde33c40395" onclick="showImg(this.src)">
                    </div>
                    <div class="small-img">
                        <img src="https://media.veepee.com/v1/media/b7939dc7-be0f-491c-ad7c-73564dfc20d8" onclick="showImg(this.src)">
                    </div> -->
                   
                </div>
            </div>
    
            <div class="right">
                
                <h1>{{produit.Produit}} - {{produit.Couleur}}</h1>


               <div class="detail">
                <div class="price"> <span class="pinkp">{{produit.PrixR}} DNT</span>
                    <span class="greenspan">-{{produit.Reduction}}%</span></div>
                <div class="size">
                   
                         <span class="greyp">{{produit.Prix}} DNT
                         </span>  
                </div>
              
               
               </div>
               <div class="quantity "> 
                
                <p class="para">{{produit.DetailsP}} <br></p>
                <div *ngIf="produit.categorie == 'Mode'">
                <div class="pname">Les Tailles Disponibles</div>
                <div class="sizes" >
                    <div *ngFor="let b of produit.Taille">
                    <div class="size-box" tabindex="0" (click)="selectTaille(b)">{{b}}</div>
                </div>
                </div>
            </div>
                <div *ngIf="produit" class="pname">Choisir La Quantité</div>
                <div class="quantity-selector">
                    <button (click)="modifierQuantite('-1')" class="quantity-change" id="decrement">-</button>
                    <input [(ngModel)]="panier.Quantite" id="quantity-input" style="text-align: center">
                    <button (click)="modifierQuantite('1')" class="quantity-change" id="increment">+</button>
                </div>
                
            </div>

                <!-- <div class="btn-box">
                   <h1>Choisissez votre modèle</h1>

                </div> -->
                  <!-- <div class="btn-box">
                   <h1>Choisissez votre modèle</h1>

                </div> -->
                <div class="flex-boxx">
                    <div class="left">
                       
                        <!-- <div class="imagess">
                            <div class="small-imgg">
                                <img src="https://media.veepee.com/v1/media/7f27682f-3fb8-48b3-8c7d-f22dfd9e90db" onclick="showImg(this.src)">
                            </div>
                            <div class="small-imgg">
                                <img src="https://media.veepee.com/v1/media/9107018b-7c35-4226-b469-8d461f5971af" onclick="showImg(this.src)">
                            </div>
                            <div class="small-imgg">
                                <img src="https://media.veepee.com/v1/media/78ff8ee4-ada7-455c-8545-6c8c30b0fd13" onclick="showImg(this.src)">
                            </div>
                            <div class="small-imgg">
                                <img src="https://media.veepee.com/v1/media/65be0b06-5039-46d0-83a6-d9fb43470f9f" onclick="showImg(this.src)">
                            </div>
                            <div class="small-imgg">
                                <img src="https://media.veepee.com/v1/media/3c920273-4b7a-46bb-a329-ee070ecd28ad" onclick="showImg(this.src)">
                            </div>
                           
                        </div> -->
                        <div>
                            <br>
                            <!-- <div class="navv">
                            
                               <label for="touch"><span class="spann">{{ selectedTaille ? selectedTaille : 'Sélectionner une taille' }}</span></label> 
                             <input type="checkbox" id="touch">
                            
                              <ul class="slidee" *ngFor="let b of produit.Taille">
                                <li style="cursor: pointer;" (click)="selectTaille(b)">{{b}}</li>
                              
                              </ul> 
                              
                             <select class="slidee" class="form-select form-select-sm mb-6" [(ngModel)]="selectedTaille" [ngModelOptions]="{standalone: true}">
                                <option disabled selected hidden [value]="">Sélectionner une taille</option>
                                  <option *ngFor="let b of produit.Taille" [value]="b">{{ b}}</option>
                                </select>
                            
                            </div> -->

        
                    </div>
                        <br>
                       
                    <button class="pinkbutton" (click)="Topanier(produit)">Ajouter au panier</button>
                    <br>
                    <p class="endso">Vendu et expédié par <span style="color: rgba(211, 16, 84, 0.794);">Vente Privilégié</span>
                           

                    </p>
                    </div> 

                    <!--------dropdown size-->
               
        </div>
        </div>
    </div>
    </section>
</main>
  <script>
    let bigImg = document.querySelector('.big-img img');
function showImg(pic){
    bigImg.src = pic;
}
  </script>

  <app-footer-style-two></app-footer-style-two>

