<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title text-center" *ngFor="let p of produit">
            <h3>{{p.Produit}}</h3>
        </div>
    </div>
</div>

<section class="shop-detls ptb-100">
    <div class="container">
        <div class="row" *ngFor="let p of produit">
            <div class="col-lg-6 col-md-12">
                <div class="shop-detls-image">
                    <img src="assets/img/products/product-details.jpg" alt="Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12" >
                <div class="shop-desc">
                    <h3>{{p.Brand}}</h3>
                    <h3>{{p.Produit}}</h3>

                    <div class="price">
                        <span class="new-price">{{p.Prix}} TND</span>
                       <!--<span class="old-price">TND30.00</span>-->
                    </div>
                    <div class="shop-review">
                        <a  class="rating-count">{{p.Couleur}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a  class="rating-count">{{p.Taille}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a  class="rating-count">{{p.Genre}}</a>
                    </div>
                    <p>{{p.DetailsP}}</p>
                    <div class="input-count-area">
                        <h3>Quantity</h3>
                        <div class="input-counter">
                            <span class="minus-btn"><i class='bx bx-minus'></i></span>
                            <input type="text" min="1" value="1">
                            <span class="plus-btn"><i class='bx bx-plus'></i></span>
                        </div>
                    </div>
                    <div class="shop-add">
                        <button type="submit" class="default-btn"><i class="fas fa-cart-plus"></i> Ajouter au Panier</button>
                    </div>
                    <div class="tabs_item mt-4">
                        <div class="shop-detls-tab-content">
                            <ul class="additional-information">
                                <li><span>Brand:</span> {{p.Produit}}</li>
                                <li><span>Color:</span> {{p.Couleur}}</li>
                                <li><span>Size:</span> {{p.Taille}}</li>
                                <li><span>Genre:</span> {{p.Genre}}</li>
                                <li><span>Groupe d'Age:</span> {{p.GroupeAge}}</li>
                                <li><span>Estimation Livraison:</span> {{p.livraisonestime}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="shop-share">
                        <ul>
                            <li><span>Partager:</span></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook' ></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
