<app-navbar-home></app-navbar-home>


<!-- Header -->
<header style="background-image: url('../../../../assets/img/home-three/beautebg.jpeg');">
    <!-- Search Bar -->
    <div class="search">
        <div class="search-container">
            <input type="text" class="search-bar" [(ngModel)]="term" (input)="filtrerDonnees()" placeholder="Rechercher..." />
            <button class="search-button">
                <img src="assets/img/vp/search.png" alt="Logo" class="logosearch" />
            </button>
        </div>
    </div>
</header>
<div>
<section class="titlecontainer titlecontainer77">
    <div class="title">
      <h1 class="containertitle ">Trouvez Vos Plaisirs</h1>
      <p class="containerparagraphe">Laissez-vous séduire par les meilleures marques</p>
    </div>
</section>

<!-- Container for Body Content -->

<div class="bodycontainer">
    
    <!-- Main Content -->
    <main class="page-content">
        <div *ngFor="let brand of filteredBrand">
            <div *ngIf="brand.Categorie == 'Beaute' && brand.AffichafeAccueil == 'ÇA VA VOUS PLAIRE'" class="card">
            <div class="content">
                <img
                [src]="'https://api.venteprivilegiee.com/image/' + brand.Image" />
                <a [routerLink]="'/shopBrand/'+brand.id"><h3 class="copy">Jusqu'au {{ brand.DateExpiration | date:'EEEE d MMMM y' }}</h3></a>
            </div>
        </div>
        
     </div>
    
   
     
     

        
    </main>
    <section class="titlecontainer ">
        <div class="title">
          <h1 class="containertitle2 ">Un peu de patience</h1>
          <p class="containerparagraphe2 ">Ne pas rater l'occasion</p>
        </div>
    </section>
    
    <!-- Container for Body Content -->
    
    <div class="bodycontainer">
        
        <!-- Main Content -->
        <main class="page-content">
            <div *ngFor="let brand of filteredBrand">
            <div *ngIf="brand.Categorie == 'Beaute' && brand.AffichafeAccueil == 'ENCORE QUELQUES JOURS'"class="card">
                <div class="content">
                    <img
                    [src]="'https://api.venteprivilegiee.com/image/' + brand.Image" />
                    <a [routerLink]="'/shopBrand/'+brand.id"><h3 class="copy">Jusqu'au {{ brand.DateExpiration | date:'EEEE d MMMM y' }}</h3></a>
                </div>
            </div>
            
         </div>
        
       
         
         
    
            
        </main>
</div>

</div>






<!-- JavaScript Scripts -->
<script src="https://jsuites.net/v4/jsuites.js"></script>
<script src="./script.js"></script>


<!---------footer-------->

<app-footer-style-two></app-footer-style-two>