<app-navbar-style-one></app-navbar-style-one>
<div class="bea">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content banner-content-ptb text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="category-area pt-100 pb-70 top">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="center-container">
                <div class="show">
                    <div class="row" [hidden]="brandve==0">
                        <h4 style="color:white;">LES VENTES ÉPHÉMÈRES<br>Des marques présentes en un clin d’oeil.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LES VENTES ÉPHÉMÈRES'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandet==0">
                        <h4 class="mt-3">UNE ENVIE EN TÊTE ? <br>Encore plus de façons d'être vous.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='UNE ENVIE EN TÊTE ?'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandch==0">
                        <h4 class="mt-3">LES CHEVEUX <br>L'expérience salon à la maison.</h4>
                        <div class="col-md-6 container" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LES CHEVEUX'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandma==0">
                        <h4 class="mt-3">LE MAQUILLAGE <br>La couleur qui vous va au teint.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LES PARFUMS'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandpar==0">
                        <h4 class="mt-3">LES PARFUMS <br>On vous met au parfum.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='AUJOURD’HUI'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandsoi==0">
                        <h4 class="mt-3">LES SOINS <br>La crème de la beauté.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LES SOINS'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandspa==0">
                        <h4 class="mt-3">LE SPA <br>Être ou bien-être, telle est la question.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE SPA'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" [hidden]="brandunib==0">
                        <h4 class="mt-3">LES UNIVERS BEAUTÉ <br>Notre offre disponible toute l'année.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LES UNIVERS BEAUTÉ'">
                            <img src="https://media.veepee.com/v1/media/b4f450ca-6a39-4741-bf13-c53f1bb34ff5" class="img-fluid mx-auto d-block ime" />
                                 <div class="overlay">
                                     <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>
                                 </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>

