.ChampError{
    color: rgb(219, 1, 1);
  }
  .default-btn{
  background-color: rgb(236, 0, 140) !important;
}
footer{
  background-color: rgb(221, 246, 246);
}
a, p, h3 {
  color: black !important;
}