<app-navbar></app-navbar>
<br><br><br><br><br><br><br>
<header>

</header>
<div class="container">
    <div class="card">
        <div class="cardcontainer">
            <h1>
                Offrez 10DNT, et recevez 10DNT en retour*
            </h1>
            <p>Invitez vos proches à s’inscrire avec votre lien de parrainage, et recevez 10DNT après leur première
                commande*.</p>
        </div>

        <div class="input-container">
            <!-- <label for="username">Lien à partager</label>
            <br> -->

            <input #inputField type="text" id="username" name="username"
                [value]="linkParrainage">
            <!-- <button onclick="copyPlaceholder()" class="inputbutton"> Copier </button> -->
        </div>
        <div class="butonline">

            <button (click)="copyInputMessage(inputField)" 
            [disabled]="isCopied" 
            [ngClass]="{'copied': isCopied}"
            class="cardbutton">{{ isCopied ? 'Lien Copié!' : 'Copier le Texte' }}</button>


        </div>
    </div>
</div>
<!----------container-------->

<section class="containerr">

    <div class="containerblock">
        <h1>Comment ça fonctionne ?</h1>
        <div class="containerbody">
            <div class="containermenue">
                <img src="https://www.veepee.fr/gr/userEngagement/_cmn/sponsorship/veepee/step_1.svg
            " alt="" class="iconfooters">
                <h4 class="titre">Envoyez votre lien</h4>
                <p>de parrainage à votre ami pour qu’il s’inscrive
                    (mais pas avec un avion en papier).</p>

            </div>
            <div class="containermenue">
                <img src="https://www.veepee.fr/gr/userEngagement/_cmn/sponsorship/veepee/step_2.svg" alt=""
                    class="iconfooters">
                <h4 class="titre">Votre ami s’inscrit</h4>
                <p>en cliquant sur votre lien de parrainage.
                    Bienvenue à lui !</p>

            </div>
            <div class="containermenue">
                <img src="https://www.veepee.fr/gr/userEngagement/_cmn/sponsorship/veepee/step_3.svg" alt=""
                    class="iconfooters">
                <h4 class="titre">Vous gagnez 10DNT* chacun</h4>
                <p>valables sur toutes nos ventes* dès la première commande de votre ami*.
                    C’est dans la poche !</p>

            </div>
        </div>
    </div>
    <div class="containerfooter">
        <h1 class="titre">Suivi de vos filleuls</h1>
        <img src="https://www.veepee.fr/gr/userEngagement/_cmn/sponsorship/veepee/sponsored.svg" alt=""
            class="iconfooters">
        <h1 class="titre">Parrain en devenir</h1>
        <p class="ppp">Partagez votre lien de parrainage pour agrandir la famille Veepee. Et recevez vos 10€ à la
            1ère commande* de chacun de vos filleuls.</p>
        <h4>Votre filleul n’apparaît pas ? Il ne s’est pas encore inscrit.</h4>
    </div>

</section>

