<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="" alt="Logo"></a>
    </div>
    <div class="main-nav">
        <div class="container-fluid">
            <nav class="container-max navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" routerLink="/"><img alt="VentePrivée"></a>
                <div class="collapse navbar-collapse mean-menu"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Mode" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mode</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Maison" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Maison</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Voyage" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Voyage</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Beaute" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Beauté</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Gastronomie" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Gastronomie</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Enfant" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Enfant</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Sport"  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Sport</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/Loisir" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}" class="nav-link">Loisir</a>
                        </li>
                        <li class="nav-item" [hidden]="Loggedin==true">
                            <a routerLink="/login-register" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}" class="nav-link">S'identifier</a>
                        </li>
                        <li class="nav-item" [hidden]="Loggedin==false">
                            <a class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"><i
                                    class='bx bx-user-circle'></i> {{userData.UserName}}</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/Compte"
                                        class="nav-link"
                                        routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                        true}"><i
                                            class='bx bx-user-circle'></i> Mon
                                        Compte</a></li>

                                <li class="nav-item"><a
                                        routerLink="/Commande"
                                        class="nav-link"
                                        routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                        true}"><i
                                            class='bx bx-receipt'></i> Mes
                                        Commandes</a></li>

                                <li class="nav-item"><a
                                        class="nav-link"
                                        routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                            true}"
                                        (click)="onLogout($event)"><i
                                        class='bx bx-log-out-circle'></i>
                                        Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="side-nav d-in-line align-items-center mt-2">
                        <div class="side-item" *ngIf="Loggedin==true">
                            <div class="cart-btn">
                                <a routerLink="/Panier">
                                    <i class="flaticon-shopping-bags"></i>
                                </a>
                            </div>
                        </div>
                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="side-nav-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center
                        align-items-center">
                        <div class="side-item" *ngIf="Loggedin==true">
                            <div class="cart-btn">
                                <a routerLink="/Panier">
                                    <i class="flaticon-shopping-bags"></i>
                                </a>
                            </div>
                        </div>
                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>
                        <div class="side-item" [hidden]="Loggedin==true">
                            <div class="nav-add-btn">
                                <a routerLink="/login-register" class="default-btn border-radius"><i class='bx bx-plus'></i> S'identifier</a>
                            </div>
                        </div>
                        <div class="side-item" *ngIf="Loggedin==true">
                            <div class="nav-add-btn">
                                <a (click)="onLogout($event)" class="default-btn border-radius"><i class='bx bx-log-out-circle'></i> Déconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-close">
                <span class="search-close-line"></span>
                <span class="search-close-line"></span>
            </div>

            <div class="search-form">
                <form>
                    <input type="text" class="input-search"
                        placeholder="Recherchez une marque, un produit ...">
                    <button type="submit"><i class="flaticon-loupe"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
