
<header>
    <div class="container">
        <div class="card">
            <div class="cardcontainer">
                <h1>
                    Nous somme désolé ! 
                </h1>
                <p>Votre commande n'a pas passé
                    <br> Veuillez ressayer ! </p>
            </div>
        <br>
         <br>
            <div class="butonline">
    
                <button routerLink="/" target="_blank" class="cardbutton">Retourner au site</button>
    
            </div>
        </div>
    </div>
</header>

<!----------container-------->


