<app-navbar></app-navbar>
<br><br><br><br><br><br><br><br>

               <!-----------------------main section----------------->
               <main>
                <section>
               
                 <div>
                     <div style="display: flex; justify-content: space-between;">
                     <h2>Mon compte</h2> 
                     <div class="soldee">
                        <h2> Votre solde est: </h2>
                         <h3> <img src=".././../../../assets/img/coin.png" alt="" width="30px" style="margin-right: 20px;">200 dt</h3> 
                      </div></div>
                     <p>Retrouvez et mettez à jour ici toutes vos informations personnelles.</p>
                 </div>
                 <div>
                     <h4>Mon profil</h4>
                     <section>
                     
                      
                         <div class="tableBloc" id="infosBloc">
                             <div class="tableBloc1"><strong>Nom & Prénom</strong></div>
                             <div class="tableBloc2">{{client.NomComplet}}</div>
                             
                             <div class="actionBloc">
                             <img src="	https://static.vente-privee.com/vp5//_web/site//vp/_common/img/acc_table-changeLine.png" alt=""></div>
                             <div class="clear"></div>
                         </div>
 
                         <div class="tableBloc" id="infosBloc">
                            <div class="tableBloc1"><strong>Téléphone</strong></div>
                            <div class="tableBloc2">{{client.Telephone}}</div>
                            
                            <div class="actionBloc">
                            <img src="	https://static.vente-privee.com/vp5//_web/site//vp/_common/img/acc_table-changeLine.png" alt=""></div>
                            <div class="clear"></div>
                        </div>
 
 
 
 
 
 
 
                    </section>
                 </div>
                 <!-- <div class="tableBloc" id="infosBloc">
                     <div class="tableBloc1"><strong>Mes coordonnées</strong></div>
                     <div class="tableBloc2"></div>
                     <div class="tableBloc3">
                         Tél. Mobile :<i>{{client.Telephone}}</i><br>
                          Autre numéro : <i>Non renseigné</i>
                     </div>
                     <div class="actionBloc">
                     <img src="	https://static.vente-privee.com/vp5//_web/site//vp/_common/img/acc_table-changeLine.png" alt=""></div>
                     <div class="clear"></div>
                 </div> -->
 
                 <div class="tableBloc" id="infosBloc">
                     <div class="tableBloc1"><strong>Email</strong></div>
                     <div class="tableBloc2"> {{client.Email}}</div>
                     <div class="tableBloc3">
                        <br>
                         
                     </div>
                     <div class="actionBloc">
                     <img src="	https://static.vente-privee.com/vp5//_web/site//vp/_common/img/acc_table-changeLine.png" alt=""></div>
                     <div class="clear"></div>
                 </div>
                 <div class="tableBloc" id="infosBloc">
                    <div class="tableBloc1"><strong>Adresse</strong></div>
                    <div class="tableBloc2">  rue baghded Monastir</div>
                    <div class="tableBloc3">
                       <br>
                        
                    </div>
                    <div class="actionBloc">
                    <img src="	https://static.vente-privee.com/vp5//_web/site//vp/_common/img/acc_table-changeLine.png" alt=""></div>
                    <div class="clear"></div>
                </div>
 
                 <div class="tableBloc" id="infosBloc">
                     <div class="tableBloc1"><strong>Mot de passe</strong></div>
                     <div class="tableBloc2">{{client.Password}}</div>
                     <div class="tableBloc3">
                       
                     </div>
                     <div class="actionBloc">
                     <img src="	https://static.vente-privee.com/vp5//_web/site//vp/_common/img/acc_table-changeLine.png" alt=""></div>
                     <div class="clear"></div>
                 </div>
                 <div style="height: 150px;">
                     <h4></h4>
                     <p></p>
                 </div>
                 <!-- <div style="height: 150px;">
                     <h4>FACEBOOK</h4>
                     <p>Votre compte Facebook n'est pas associé à votre compte Vente.</p>
                 </div> -->
                 <p class="comptpara">Vente-Privee.com est le responsable du traitement de vos données personnelles. Les informations collectées ci-dessus sont utilisées pour: 
                     <br>
 
                     -Gérer l’accès à notre site et à nos ventes, l’envoi de nos emails d’informations sur nos ventes et la passation de vos commandes. Sous réserve de vos choix, ces données seront également utilisées pour vous adresser des communications sur nos nouveautés, <br> bons plans et jeux-concours et/ou pourront être utilisées par nos partenaires afin de vous adresser des publicités personnalisées si vous avez exprimé ce souhait lors de votre inscription.  <br>
                      Vous pourrez modifier ou compléter ces informations à tout moment dans la rubrique « Mon Compte/ Mon profil ».
                     <br>
                     -La livraison de vos commandes. Vous pouvez à tout moment modifier ou supprimer ces données via la rubrique « Mon Compte/ Mon carnet d’adresses » de votre compte Membre.
                     <br>
                     -Au paiement de votre commande. Vous pouvez choisir d’enregistrer votre carte bancaire afin de faciliter vos achats ultérieurs en cochant la case prévue à cet effet. Vous pouvez à tout moment modifier ou supprimer ces données via l’onglet « Mon Compte/ Mes cartes bancaires » de votre compte Membre (sur version Desktop uniquement). Ces données sont hébergées par des prestataires de Vente-Privee.com qui n’a en aucun cas accès à celles-ci à l’exception des 6 premiers et des 4 derniers chiffres de votre carte bancaire permettant d’identifier votre carte dans votre espace Membre. <br> Votre cryptogramme n’est en aucun cas conservé par Vente-Privee.com ou ses prestataires.</p>
                </section>
                </main>
<app-footer-style-two></app-footer-style-two>