<app-navbar-style-one></app-navbar-style-one>
<div class="inner-banner bg-commande">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Mes Commandes</h3>
        </div>
    </div>
</div>
<section class="cart-wraps-area ptb-100">
    <div class="container">
        <form>
            <div class="cart-wraps">
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Ref° Commande</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
