<app-navbar-style-one></app-navbar-style-one>
<div class="inner-banner bg-commande">
    <div class="container">
        <div class="inner-title text-center">
            <h3 *ngIf="nbrcommande!=0">Mes Commandes</h3>
            <h3 *ngIf="nbrcommande==0">Aucune Commande</h3>
        </div>
    </div>
</div>
<section class="cart-wraps-area ptb-100" *ngIf="nbrcommande!=0">
    <div class="container">
            <div class=" table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Refcommande</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Total</th>
                            <th>Prix<br>livraison</th>
                            <th>Coupon</th>
                            <th>Montant<br>à payer</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let c of commandes">
                            <td >
                                <a>{{c.RefCommande}}</a>
                            </td>
                            <td >
                                <a>{{c.Date | date:'mediumDate'}}</a>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">{{c.Heure}}</span>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">{{c.Adresse}}</span>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">{{c.Gouvernerat}}</span>
                            </td>
                            <td class="product-quantity">{{c.PrixTotal}} TND</td>
                            <td class="product-quantity">{{c.PrixLivraison}} TND</td>
                            <td class="product-quantity">- {{c.Couppons}} TND</td>
                            <td class="product-subtotal">
                                <span class="subtotal-amount">{{c.NetaPayer}} TND</span>
                            </td>
                            <td class="product-subtotal">
                                <span class="subtotal-amount" style="color: violet;" *ngIf="c.Statut=='Commandeé'">{{c.Statut}}</span>
                                <span class="subtotal-amount" style="color: green;" *ngIf="c.Statut=='Livrée'">{{c.Statut}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>
