<app-navbar-style-one></app-navbar-style-one>
<div class="food">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content banner-content-ptb text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="category-area pt-100 pb-70 top">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="center-container">
                <div class="show">
                    <div class="row" [hidden]="brandgj==0">
                        <h4 style="color:white;">LE GOUT DU JOUR<br></h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LE GOUT DU JOUR'">
                            <img src="https://media.veepee.com/v1/media/509db25f-9828-427f-b6fd-2dd90438a89a" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>

                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="brandep==0">
                        <h4 class="mt-3">L'ÉPICERIE<br>On garde le meilleur pour la faim.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='ÉPICERIE'">
                            <img src="https://media.veepee.com/v1/media/509db25f-9828-427f-b6fd-2dd90438a89a" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>

                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="brandpf==0">
                        <h4 class="mt-3">LES PRODUITS FRAIS <br>La recette inratable pour bien manger.</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{m.id}}" type="button" *ngFor="let m of brand" [hidden]="m.SousCategorie!='LES PRODUITS FRAIS'">
                            <img src="https://media.veepee.com/v1/media/509db25f-9828-427f-b6fd-2dd90438a89a" class="img-fluid mx-auto d-block ime" />
                            <div class="overlay">
                                <p class="text">{{m.BrandName}} <br> Jusqu'à {{m.DateExpiration | date:'longDate'}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>

