.col-md-6{
    margin-top: 3%;
  }
  .form-input {
    border-radius: 25px; /* Adjust this as needed */
    outline: none;
}

.form-input:focus {
    border-color: white;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.5); /* This replaces the default blue glow when the input is focused. Adjust color as needed */
}
  .col-md-6 img{
    border-radius: 15px;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;  /* Adjust as per your requirement */
    transform: translateY(-50%);
    color: gray; /* Change icon color as per your requirement */
}
  .colo{
    color: #0a0a0a !important;
}
.rad{
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .Acc{
        background-image:url(../../../../assets/img/home-three/vp__home.png);
        background-size: cover;
        background-position: center top;
        background-repeat:
        no-repeat; height: 80vh;
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .text {
        display: none;
      }
      .top{
        margin-top: -550px;
      }
  }
  @media only screen and (min-width: 600px) {
    .Acc{
        background-image:url(../../../../assets/img/home-three/vp__home.png);
        background-size: cover;
        background-position: center top;
        background-repeat:
        no-repeat; height: 80vh;
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #cf4dcf;
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
      }
      .container{
        position: relative;
        width: 50%;
      }
      .container:hover .overlay {
        opacity:0.7;
        height:100%;
      }
      .text {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .ime{
        display: block;
        width: 100%;
        height: auto;
      }
      .top{
        margin-top: -600px;
      }
  }
  @media only screen and (min-width: 768px) {
    .Acc{
        background-image:url(../../../../assets/img/home-three/vp__home.png);
        background-size: cover;
        background-position: center top;
        background-repeat:
        no-repeat; height: 80vh;
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #cf4dcf;
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
      }
      .container{
        position: relative;
        width: 50%;
      }
      .container:hover .overlay {
        opacity:0.7;
        height:100%;
      }
      .text {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .ime{
        display: block;
        width: 100%;
        height: auto;
      }
      .top{
        margin-top: -600px;
      }
  }
  @media only screen and (min-width: 992px) {
    .Acc{
        background-image:url(../../../../assets/img/home-three/vp__home.png);
        background-size: cover;
        background-position: center top;
        background-repeat:
        no-repeat; height: 80vh;
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #cf4dcf;
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
      }
      .container{
        position: relative;
        width: 50%;
      }
      .container:hover .overlay {
        opacity:0.7;
        height:100%;
      }
      .text {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .ime{
        display: block;
        width: 100%;
        height: auto;
      }
      .top{
        margin-top: -600px;
      }
  }
  @media only screen and (min-width: 1200px) {
    .Acc{
        background-image:url(../../../../assets/img/home-three/vp__home.png);
        background-size: cover;
        background-position: center top;
        background-repeat:
        no-repeat; height: 80vh;
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
      }
      .container{
        position: relative;
        width: 50%;
      }
      .container:hover .overlay {
        opacity:0.7;
        height:100%;
      }
      .text {
        color: #A9A9A9;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .ime{
        display: block;
        width: 100%;
        height: auto;
      }
      .top{
        margin-top: -650px;
      }
  }
  .row{
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
