<app-navbar-style-one></app-navbar-style-one>

<div class="Acc">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                      <!--search bar-->
            <div class="row height d-flex justify-content-center align-items-center rad">
                <div class="col-md-8">  
                  <div class="form">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" class="form-control form-input " placeholder="Recherchez une marque,un produit...">
                    <span class="left-pan"><i class="fa fa-microphone"></i></span>
                  </div>               
                </div>                
            </div>
           <!--end search bar-->
                <div class="banner-content banner-content-ptb text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="category-area pt-100 pb-70 top">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="center-container">
                <div class="show">
                   <!-- <div class="row" >
                        <h4 style="color:white;">Accédez au statut VIP et decouvrez<br>un monde d'avantages et de privilèges exclusifs !</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{b1.id}}" type="button" *ngFor="let b1 of brand2">
                            <img src="https://media.veepee.com/v1/media/a2a7dfd7-aaca-4ac6-bf11-9ffa21aa8707" class="img-fluid mx-auto d-block ime" alt="" />
                            <div class="overlay">
                                <p class="text">{{b1.BrandName}} <br> Jusqu'à {{b1.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="row" >
                        <h4 class="mt-3">C'EST TOUT NOUVEAU <br>Elles ont ouvert aujourd'hui</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{b2.id}}" type="button" *ngFor="let b2 of brand1">
                            <img src="https://cdn.data-vp.com//64707be6565086001e9a12cd/64707be6565086001e9a12cf-1685093350997-desktop.jpeg" class="img-fluid mx-auto d-block ime" alt="" />
                            <div class="overlay">
                                <p class="text">{{b2.BrandName}} <br> Jusqu'à {{b2.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div> -->
                    <br>
                    <br>
                    <div class="row" >
                        <h4 class="mt-3" >C'EST TOUT NOUVEAU <br>Elles ont ouvert aujourd'hui</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{b2.id}}" type="button" *ngFor="let b2 of brand2">
                            <img src="https://cdn.data-vp.com//64707be6565086001e9a12cd/64707be6565086001e9a12cf-1685093350997-desktop.jpeg" class="img-fluid mx-auto d-block ime" alt="" />
                            <div class="overlay">
                                <p class="text">{{b2.BrandName}} <br> Jusqu'à {{b2.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" >
                        <h4 class="mt-3" class="colo">ENCORE QUELQUES JOURS <br>De quoi sauter sur l'occasion</h4>
                        <div class="col-md-6 container" routerLink="/Brand/{{b2.id}}" type="button" *ngFor="let b2 of brand3">
                            <img src="https://cdn.data-vp.com//64707be6565086001e9a12cd/64707be6565086001e9a12cf-1685093350997-desktop.jpeg" class="img-fluid mx-auto d-block ime" alt="" />
                            <div class="overlay">
                                <p class="text">{{b2.BrandName}} <br> Jusqu'à {{b2.DateExpiration | date:'longDate'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>
