<app-navbar></app-navbar>
<br><br><br><br><br><br>
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="checkout__title">DÉTAILS DE LA FACTURATION</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Prénom<span>*</span></p>
                                        <input [(ngModel)]="commande.UserName" [ngModelOptions]="{standalone: true}"  class="text2">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input [(ngModel)]="commande.Email" [ngModelOptions]="{standalone: true}" >
                                    </div>
                                </div>
                                <!-- <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Nom<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="checkout__input">
                                <p><span>*</span></p>
                                <input type="text">
                            </div> -->
                            <div class="checkout__input">
                                <p>Addresse<span>*</span></p>
                                <input   [(ngModel)]="commande.Adresse" [ngModelOptions]="{standalone: true}" type="text"  class="checkout__input__add">
                            </div>
                            <div class="checkout__input">
                                <p>Ville<span>*</span></p>
                                <input type="text" [(ngModel)]="commande.Gouvernerat" [ngModelOptions]="{standalone: true}">
                            </div>
                          
                            <div class="checkout__input">
                                <p>Code Postal<span>*</span></p>
                                <input type="text" [(ngModel)]="commande.CodePostal" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Téléphone<span>*</span></p>
                                        <input type="text"  [(ngModel)]="commande.Telephone" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                              
                            </div>
                         
                          
                            <div class="checkout__input">
                                <p>Notes d'ordre<span></span></p>
                                <input type="text" [(ngModel)]="commande.Message" [ngModelOptions]="{standalone: true}"
                                placeholder="Notes d'ordre">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">VOTRE COMMANDE</h4>
                                <div class="checkout__order__products">Article <span></span></div>
                                <ul class="checkout__total__products" *ngFor="let p of paniers , let i=index">
                                    <li>{{i+1}}. {{p.Produit}}-{{p.ProdDetails.Genre}}-{{p.taille}} <span></span></li>
                                    <br>
                                    
                                    
                                </ul>
                                <ul class="checkout__total__all">
                                    
                                    <li>Totale + livraison <span >{{prixTotale}}TND</span></li>
                                </ul>
                               
                                
                                <div class="checkout__input__checkbox">
                                    <h6 class="checkout__title">Choisir la Méthode DE paiement</h6>
                                    <label for="payment">
                                        <h6>Paiement à la livraison</h6>
                                        <input type="checkbox" id="payment"  [checked]="payment" (click)="checked('payment')">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        <h6>Paiement en ligne par flousi</h6>
                                        <input type="checkbox" id="paypal" [checked]="paypal" (click)="checked('paypal')">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            
                                <button type="submit" class="site-btn" (click)="Order(commande)">PASSER LA COMMANDE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <app-footer-style-two></app-footer-style-two>
    <script src="../shop-brand/js//jquery-3.3.1.min.js"></script>
    <script src="../shop-brand/js//bootstrap.min.js"></script>
    <script src="../shop-brand/js//jquery.nice-select.min.js"></script>
    <script src="../shop-brand/js//jquery.nicescroll.min.js"></script>
    <script src="../shop-brand/js//jquery.magnific-popup.min.js"></script>
    <script src="../shop-brand/js//jquery.countdown.min.js"></script>
    <script src="../shop-brand/js//jquery.slicknav.js"></script>
    <script src="../shop-brand/js//mixitup.min.js"></script>
    <script src="../shop-brand/js//owl.carousel.min.js"></script>
    <script src="../shop-brand/js//main.js"></script>
