.user-area {
    background-image: url("../../../../assets/img/home-three/homee.jpg");
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .ChampError{
    color: rgb(219, 1, 1);
  }
