<div class="modal-content">
    <button type="button" class="close-button" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <img src="assets/img/home-three/BGg.png" alt="Background" class="background-image"/>
      <p class="main-text">les surprise c'est notre quotidien §</p>
      <p class="sub-text">et la toute première vous attend après votre inscription chez</p>
      <div class="buttons">
        <button class="btn btn-connect">Se connecter</button>
        <button class="btn btn-signup">S'inscrire</button>
      </div>
    </div>
  </div>