<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/boxicons/boxicons/css/boxicons.min.css">
<section >
<div class="user-area">
    <div class="container-fluid mt-5">
        <div class="row align-items-center">
                <div class="user-section text-center">
                    <div class="user-content">
                        <a routerLink="/"><img src="../../../../assets/img/home-three/logo.webp" alt=""></a>
                    </div>
                    <div class="tab user-tab">
                        <ul class="tabs">
                            <li><a > <i class="flaticon-contact"></i>
                                    Se Connecter</a></li>
                            <li><a [routerLink]="['/']" fragment="registerForm"> <i class="flaticon-verify"></i>
                                    S'inscrire</a></li>
                        </ul>
                        <div class="social-buttons">
                            <a href="#" class="circle-btn facebook-btn">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="#" class="circle-btn google-btn">
                                <i class='bx bxl-google'></i>
                            </a>
                        </div>
                        
                        <div class="separator">
                            <span>ou</span>
                        </div>
                        <div class="tab_content current active">
                         
                            <div class="tabs_item current">
                                <div class="user-all-form">
                                    <div class="contact-form">
                                        <!-- <div class="social-buttons">
                                            <a href="#" class="circle-btn facebook-btn">
                                                <i class='bx bxl-facebook'></i>
                                            </a>
                                            <a href="#" class="circle-btn google-btn">
                                                <i class='bx bxl-google'></i>
                                            </a>
                                        </div> -->
                                        <form id="contactForm"
                                            (ngSubmit)="Login()"
                                            [formGroup]="loginForm">
                                            <div class="row">
                                                <div class="col-lg-12 ">
                                                    <div class="form-group">
                                                        <i class='bx bx-user'></i>
                                                        <input name="Email"
                                                            required=""
                                                            formControlName="Email"
                                                            class="form-control
                                                            border"
                                                            placeholder="Email"
                                                            type="text">
                                                        <div
                                                            *ngIf="loginForm.get('Email').invalid
                                                            &&
                                                            (loginForm.get('Email').dirty
                                                            ||
                                                            loginForm.get('Email').touched)">
                                                            <div
                                                                *ngIf="loginForm.get('Email').errors.required"
                                                                class="ChampError">
                                                                Entrez Votre
                                                                Email SVP !
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <i class='bx
                                                            bx-lock-alt'></i>
                                                        <input name="Password"
                                                            required=""
                                                            formControlName="Password"
                                                            class="form-control
                                                            border"
                                                            placeholder="Mot de passe"
                                                            type="password">
                                                        <div
                                                            *ngIf="loginForm.get('Password').invalid
                                                            &&
                                                            (loginForm.get('Password').dirty
                                                            ||
                                                            loginForm.get('Password').touched)">
                                                            <div
                                                                *ngIf="loginForm.get('Password').errors.required"
                                                                class="ChampError">
                                                                Entrez Votre Mot
                                                                de passe SVP !
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12
                                                    text-center">
                                                    <button type="submit"
                                                        class="default-btn
                                                        user-all-btn">Se Connecter</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6
                                                    form-condition">
                                                    <!-- <div class="agree-label">
                                                        <input type="checkbox"
                                                            id="chb1">
                                                        <label for="chb1">Rester connecté</label>
                                                    </div> -->
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <!-- <a class="forget"
                                                        routerLink="/">Mot de Passe ?</a> -->
                                                </div>
                                            </div>
                                        </form>
                                        <!-- <div class="social-option">
                                            <h3>Ou</h3>
                                            <ul>
                                                <li><a href="#">Facebook</a></li>
                                                <li><a href="#">Google</a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="user-all-form">
                                    <div class="contact-form">
                                        <form id="registerForm"
                                            (ngSubmit)="register()"
                                            [formGroup]="registrationForm">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <i class='bx bx-user'></i>
                                                        <input type="text"
                                                            name="name"
                                                            name="NomComplet"
                                                            formControlName="NomComplet"
                                                            required=""
                                                            class="form-control
                                                            border"
                                                            placeholder="Nom Complet">
                                                        <div
                                                            *ngIf="registrationForm.get('NomComplet').invalid
                                                            &&
                                                            (registrationForm.get('NomComplet').dirty
                                                            ||
                                                            registrationForm.get('NomComplet').touched)">
                                                            <div
                                                                *ngIf="registrationForm.get('NomComplet').errors.required"
                                                                class="ChampError">
                                                                Entrez Votre Nom
                                                                Complet SVP !
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <i class='bx bx-user'></i>
                                                        <input type="text"
                                                            name="UserName"
                                                            formControlName="UserName"
                                                            required=""
                                                            class="form-control
                                                            border"
                                                            placeholder="Nom d'utilisateur">
                                                        <div
                                                            *ngIf="registrationForm.get('UserName').invalid
                                                            &&
                                                            (registrationForm.get('UserName').dirty
                                                            ||
                                                            registrationForm.get('UserName').touched)">
                                                            <div
                                                                *ngIf="registrationForm.get('UserName').errors.required"
                                                                class="ChampError">
                                                                Entrez Votre Nom
                                                                d'utilisateur
                                                                Complet SVP !
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <i
                                                            class='flaticon-email-2'></i>
                                                        <input name="Email"
                                                            formControlName="Email"
                                                            required=""
                                                            class="form-control
                                                            border"
                                                            placeholder="Email"
                                                            type="email">

                                                        <div
                                                            *ngIf="registrationForm.get('Email').invalid
                                                            &&
                                                            (registrationForm.get('Email').dirty
                                                            ||
                                                            registrationForm.get('Email').touched)">
                                                            <div
                                                                *ngIf="registrationForm.get('Email').errors.required"
                                                                class="ChampError">
                                                                Entrez Votre
                                                                Email
                                                                SVP !
                                                            </div>
                                                            <div
                                                            *ngIf="registrationForm.get('Email').errors.email"
                                                            class="ChampError">
                                                            Entrez Email Valide !
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <i class='bx
                                                            bx-lock-alt'></i>
                                                        <input
                                                            name="Password"
                                                            formControlName="Password"
                                                            required=""
                                                            class="form-control
                                                            border"
                                                            placeholder="Mot de passe"
                                                            type="password">
                                                        <div
                                                            *ngIf="registrationForm.get('Password').invalid
                                                            &&
                                                            (registrationForm.get('Password').dirty
                                                            ||
                                                            registrationForm.get('Password').touched)">
                                                            <div
                                                                *ngIf="registrationForm.get('Password').errors.required"
                                                                class="ChampError">
                                                                Entrez Votre Mot
                                                                de Passe SVP !
                                                            </div>
                                                            <div
                                                                *ngIf="registrationForm.get('Password').errors.minlength"
                                                                class="ChampError">
                                                                Mot de passe
                                                                d’au moins 6
                                                                caractères !
                                                            </div>
                                                            <div
                                                                *ngIf="registrationForm.get('Password').errors.pattern"
                                                                class="ChampError">
                                                                Le mot de passe
                                                                doit contenir au
                                                                moins un
                                                                caractère
                                                                spécial
                                                                (@$!%*?&).
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12
                                                    text-center">
                                                    <button type="submit"
                                                        class="default-btn
                                                        user-all-btn">S'inscrire
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- <div class="social-option">
                                            <h3>Ou</h3>
                                            <ul>
                                                <li><a href="#">Facebook</a></li>
                                                <li><a href="#">Google</a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


</section>