<section class="navbaritems">
    <!-- Hamburger Menu -->
 



        <!-- Veepee Logo -->
        <div class="veeplogoo">
            <img src="assets/img/vp/midlelogo.jpg" alt="logo" class="logoo" id="butterfly" />
        </div>

        <!-- Left Section -->
        <div class="leftt">
            <button class="buttonn">
                <div class="buttonpanier">
                    <img src="assets/img/vp/panier.svg" id="my_image">
                    00:00
                </div>
            </button>
        </div>

</section>
   <main>
    <div class="containerr">
       <div>
       
        <h3>Vote panier</h3>
        <div>
        <p>Sous-total

            249,99 €</p>
        <p class="green">Économisez
            120,00 €</p>
        </div>
        <img src="https://media.veepee.com/v1/media/65be0b06-5039-46d0-83a6-d9fb43470f9f" alt="" width="150px">
       </div>
    </div>
<div class="container">
    <form id="google-form">
        <h2>Où faire la livraison?</h2>
        <p class="haut">Vous pouvez choisir un point de retrait à la prochaine <br>étape.</p>
        <div class="input-container">
            <input type="text" id="nom" class="no-border"  placeholder="Numéro et rue*"required>
            <label for="nom" ></label>
        </div>
        <!-- <div class="input-container">
            <input type="email" id="email" class="no-border" placeholder="Numéro et rue*" required >
            <label for="email">Escalier,étage,porte...</label>
        </div>
        <div class="input-container">
            <input id="message"class="no-border" required>
            <label for="email">Société</label>
        </div> -->
        <section style="display: flex;">
        <div class="input-container">
            <input type="text" id="nom"class="no-border" placeholder="code postal*" required>
            <label for="nom"></label>
        </div>
        <div class="input-container">
            <input type="text" id="nom"class="no-border" placeholder="ville*"required>
            <label for="nom"></label>
        </div>
    </section>
    <section style="display: flex;">
        <div class="input-container">
            <input type="text" id="nom"class="no-border" placeholder="Prénon*" required>
            <label for="nom"></label>
        </div>
        <div class="input-container">
            <input type="text" id="nom"class="no-border" placeholder="Nom*" required>
            <label for="nom"></label>
        </div>
    </section>
        <div class="input-container">
            <input  type="text" id="nom"class="no-border wi" placeholder="Téléphone*" required>
            <label for="nom"></label>
            <p class="bas">Pour faciliter la livraison</p>
        </div>
        <button id="submit-button">Continuer</button>
        <br>
        <br>
        <p class="bas">Vente-Privee.com est le responsable du traitement de vos données personnelles.
             Les informations collectées ci-dessus sont utilisées pour la livraison de vos
              commandes.
              Vous pouvez à tout moment modifier ou supprimer ces données via la rubrique
             « Mon Compte » de votre compte Membre.</p>
             <p class="bas">Pour en savoir plus sur le traitement de vos données personnelles et pour
                 connaître vos droits,
                 veuillez consulter notre Politique de confidentialité.</p>
    </form>
</div>
</main>
<script src="./valider.js"></script>